/********** MOBILE-FIRST WORKFLOW **********/
/* CUSTOM COLOR PROPERTIES */
:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    background-color: var(--light-gray);
    font-family: "Karla", sans-serif;
}

h1,
h2 {
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.125rem;
}

/* MAIN CONTENT CONTAINER */
.container {
    width: 85%;
    max-width: 40rem;
    margin: 4rem auto;
    border-radius: 0.5rem;
    overflow: hidden;
}

.community,
.subscription,
.why-us {
    padding: 1.5rem;
}

/* COMMUNITY SECTION */
.community {
    background-color: white;
}

.community .heading {
    color: var(--cyan);
    font-size: 1.25rem;
}

.community .subheading {
    color: var(--bright-yellow);
    font-weight: 700;
    margin-bottom: 1rem;
}

.community .desc {
    color: var(--grayish-blue);
    line-height: 1.75;
    font-size: 0.875rem;
}

/* SUBSCRIPTION SECTION */
.subscription {
    background-color: var(--cyan);
    color: var(--light-gray);
}

.rate {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

span.price {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1rem;
}

span.term {
    opacity: 0.6;
}

.button {
    background-color: var(--bright-yellow);
    color: var(--light-gray);
    font-family: inherit;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 0px 4px 16px 4px rgb(0, 150, 150);
}

button:hover {
    cursor: pointer;
}

/* WHY US SECTION */
.why-us {
    background-color: hsla(179, 62%, 43%, 85%);
    color: var(--light-gray);
}

.why-us ul {
    list-style-type: none;
    font-size: 0.9rem;
}

.why-us ul li {
    padding: 0.15rem 0;
    opacity: 0.75;
}

/* FOOTER */
.attribution {
    font-size: 0.75rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-weight: bold;
}

/********** RESPONSIVE DESIGN - LAPTOP ***********/
@media only screen and (min-width: 1024px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .community,
    .subscription,
    .why-us {
        padding: 2.5rem;
    }

    .community {
        grid-column: span 2;
    }

    .community .heading {
        font-size: 1.5rem;
    }

    .community .subheading {
        font-size: 1.25rem;
    }

    .community .desc {
        font-size: 1rem;
    }
}